{% extends 'todo/base.html' %}

{% block title %}Asura Markets - Add Client{% endblock %}

{% block content %}

{% if messages %}

	{% for message in messages %}
		<div class="alert alert-warning" role="alert">
			<button class="close" data-dismiss="alert">
				<small><sup>x</sup></small>
			</button>
			{{message}}
		</div>
	{% endfor %}
{% endif %}
<!--Do the things!-->

<h3>Add Client</h3></br>
  <form class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}

    <select class="inputBox" name="provider">
 		 	<option value="Marex">Marex</option>
  		<option value="CredInvest">CredInvest</option>
 		 	<option value="MayBank">MayBank</option>
  		<option value="Cowen">Cowen</option>
	  </select>
	  <!--<input class="inputBox" type="search" placeholder="*Provider" aria-label="Search" name="provider">!-->
    <input class="inputBox" type="search" placeholder="*Account Number" aria-label="Search" name="accountNumber">
    <input class="inputBox" type="search" placeholder="*Account Name" aria-label="Search" name="accountName">
		<select class="inputBox" name="currency">
 		 	<option value="EUR">EUR</option>
  		<option value="GBP">GBP</option>
 		 	<option value="USD">USD</option>
	  </select>
    <input class="inputBox" type="search" placeholder="Sort Code / ABA / CA" aria-label="Search" name="sortCodeABACA">
    <input class="inputBox" type="search" placeholder="Bank Account Number" aria-label="Search" name="bankAccountNumber">
		<input type="checkbox" id="presentOnDrive" name="presentOnDrive">
		<label for="presentOnDrive">Present on Drive</label>
		<input class="inputBox" type="search" placeholder="*IBAN Number" aria-label="Search" name="IBAN">
    <input class="inputBox" type="search" placeholder="SWIFT Code" aria-label="Search" name="SWIFT">



    <button class="button" type="submit">Add to List</button>
  </form>


{% endblock %}
