{% extends 'todo/base.html' %}

{% block title %}Asura Markets - View{% endblock %}

{% block content %}

{% if messages %}

	{% for message in messages %}
		<div class="alert alert-warning" role="alert">
			<button class="close" data-dismiss="alert">
				<small><sup>x</sup></small>
			</button>
			{{message}}
		</div>
	{% endfor %}

{% endif %}


<div id="">
  <h3>View cash movement request</h3><br>
</div>

<ul class="list-group">
    <li class="list-group-item"><h4 class="IBPHeading">IBP</h4></li>
    <li class="list-group-item">Date requested: {{item.dateRequested|date:'M d, Y'}}</li>
		<li class="list-group-item">Date requested: {{item.dateRequested.month}}</li>
    <li class="list-group-item">Withdrawal/Deposit: {{item.withdrawlOrDeposit}}</li>
    <li class="list-group-item">Amount: {{item.amount}}</li>
    <li class="list-group-item">Currency: {{item.currency}}</li>
    <li class="list-group-item">Provider: {{item.provider}}</li>
    <li class="list-group-item">Account Name: {{item.accountName}}</li>
    <li class="list-group-item">Account Number: {{item.accountNumber}}</li>
    <li class="list-group-item">Narrative: {{item.narrative}}</li>
    <li class="list-group-item">Sort Code / ABA / CA: {{item.sortCodeABACA}}</li>
    <li class="list-group-item">Bank Account Number: {{item.bankAccountNumber}}</li>
    <li class="list-group-item">IBAN Number: {{item.IBAN}}</li>
    <li class="list-group-item">Notifications: {{item.Notifications}}</li>
		<li class="list-group-item">Created by: {{item.user}}</li>
    <li class="list-group-item"><h4 class="AsuraHeading">Asura</h4></li>
    <li class="list-group-item">Asura Internal Narrative: {{item.asuraInternalNarrative}}</li>
    <li class="list-group-item">Asura Payment ID - Lloyds: {{item.asuraPaymentIDLloyds}}</li>
    <li class="list-group-item">Asura Payment ID - Provider: {{item.asuraPaymentIDProvider}}</li>

    {% if item.completed == True %}
    <li class="list-group-item">Date Completed: {{item.dateCompleted|date:'M d, Y'}}</li>
		<li class="list-group-item">Marked Complete By: {{item.userCompleted}}</li>
    {%endif%}
</ul>
<br>
{% if item.completed == False %}
<a href="{% url 'editRequest' item.id %}" class="button">Edit Request</a>
<a href="{% url 'complete' item.id %}" class="button">Mark as Complete</a>
{%endif%}
<br><br>

{% endblock%}
